<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link href="../bootstrap-4.5.0-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/elements.css" rel="stylesheet">
    <title>Document</title>
</head>

<body>

    <header class="container-fluid text-center">Health Track</header>

    <main class="container-fluid row-full">
        <div class="d-flex justify-content-center">
            <a href="pesos.html" class="btn btn-link">Pesos</a>
        </div>
        <div class="align-items-center d-flex justify-content-center">
            <div>
                <a href="perfil.html" class="btn btn-link text-right">Perfil</a>
            </div>
            <div>
                <img src="../img/botao.svg" class="image-adjust" />
            </div>
            <div>
                <a href="config.html" class="btn btn-link text-left">Config</a>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <a href="atividades.html" class="btn btn-link">Atividades</a>
        </div>
    </main>

    <script src="../bootstrap-4.5.0-dist/js/bootstrap.min.js"></script>
</body>

</html>