<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../bootstrap-4.5.0-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/elements.css" rel="stylesheet">
    <title>Health Track</title>
</head>

<body>

    <header class="container-fluid text-center">Health Track</header>

    <main class="container-fluid row-full-top">

        <div class="row">
            <div class="col-md-0 d-flex">
                <div class="d-flex back" onclick="javaScript:window.document.location.assign('index.html');"> <img
                        src="../img/play-fill.svg" /></div>
            </div>
            <div class="col">
                <div class="card">
                    <h5 class="card-title">Perfil</h5>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-9">Adicionar foto</div>
                            <div class="col"><img class="photo"
                                    src="../img/70011593_10216700051866291_8278050482329485312_o (2).jpg" /></div>
                            <div class="w-100"></div>
                            <div class="col-3">Nome</div>
                            <div class="col"><input class="form-control" value="Avelino de Almeida Bego"
                                    placeholder="Digite seu nome"></div>
                            <div class="w-100"></div>
                            <div class="col-3">Idade</div>
                            <div class="col"><input class="form-control" value="48" /></div>
                            <div class="w-100"></div>
                            <div class="col-3">Localidade</div>
                            <div class="col"><input class="form-control" value="Vilobaldo Barros de Macedo" /></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer class="row container">
            <div class="mx-auto"><img src="../img/check-circle-fill.svg" /></div>
        </footer>

        <script src="../bootstrap-4.5.0-dist/js/bootstrap.min.js"></script>
</body>

</html>