<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../bootstrap-4.5.0-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/elements.css" rel="stylesheet">
    <title>Health Track</title>
</head>

<body>

    <header class="container-fluid text-center">Health Track</header>

    <main class="container-fluid row-full-top">

        <div class="row">
            <div class="col-md-0 d-flex">
                <div class="d-flex back" onclick="javaScript:window.document.location.assign('index.html');"> <img
                        src="../img/play-fill.svg" /></div>
            </div>
            <div class="col">
                <div class="card">
                    <h5 class="card-title">Pesos</h5>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        Data
                                    </th>
                                    <th>
                                        Peso
                                    </th>
                                    <th>
                                        Ações
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>13/04/2020</td>
                                    <td>100</td>
                                    <td><img class="mr-3" src="../img/pencil-square.svg"><img
                                            src="../img/trash2-fill.svg"></td>
                                </tr>
                                <tr>
                                    <td>13/04/2020</td>
                                    <td>100</td>
                                    <td><img class="mr-3" src="../img/pencil-square.svg"><img
                                            src="../img/trash2-fill.svg"></td>
                                </tr>
                                <tr>
                                    <td>13/04/2020</td>
                                    <td>100</td>
                                    <td><img class="mr-3" src="../img/pencil-square.svg"><img
                                            src="../img/trash2-fill.svg"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="row container">
        <div class="mx-auto"><img src="../img/plus-circle-fill.svg" /></div>
    </footer>

    <script src="../bootstrap-4.5.0-dist/js/bootstrap.min.js"></script>
</body>

</html>